.footer
  .wrapper
    .footer-head
      .logofoooter#logofooter
        .logo-part-2
          //- img(src="images/svg/logo-white.png", alt="logo")
        .logo-animate
      .footer-collection
        .footer-text
          h1
            |Архітектурно-будівельна
            br
            |майстерня ‘1.618’

        .footer-items-name
          .footer-items
            .item
              h2 Адреса:
              a.map(href="https://goo.gl/maps/gHx7dZnn7sR2" target="blank") м. Львів, вул. Жовківська 14

            .item
              h2 E-mail:
              a(href="mailto:ok@one618.pro") ok@one618.pro


          .footer-items
            .item
              h2 Олександр Гень
              a(href="tel:+380979035161") 097 903 51 61

            .item
              h2 Андрій Рожило
              a(href="tel:+380505404900") 050 540 49 00

    //- .footer-logo-down
    //-   .logoline-618
    //-   //img.logo-618(src="images/svg/618.svg", alt="logo")

    .footer-link-collections
      .footer-links
        .links
          a.link(href="#") Google +
          a.link(href="#") Behance
          a.link(href="#") LinkedIn
          a.link(href="#") Facebook
          a.link(href="#") Pinterest
          a.link(href="#") Instagram





