.footer
  .wrapper
    .footer-head
      .logofooter#logofooter
        .logo-part-2
          <svg style="position:absolute;" id="logowhite" width="41px" height="38px" viewBox="0 0 41 38">
            <path id="onewhite" width="41" height="38" fill="#FFFFFF" d="M20.060551,-3.960511 C22.0605514,12.8127137 13.4071517,23.9931784 8.35227274e-05,23.9931784 L8.35227274e-05,38.0016748 L18.0569815,38.0016748 L18.0569815,38 L40.0567728,38 L40.0567728,0.0394894533 L22.0605514,0.0394894533 Z"></path>
          </svg>
        .logo-animate
      .footer-collection
        .footer-text
          h1
            |Архітектурно-будівельна
            br
            |майстерня ‘1.618’

        .footer-items-name
          .footer-items
            .item
              h2 Адреса:
              a.map(href="https://goo.gl/maps/gHx7dZnn7sR2" target="blank") м. Львів, вул. Жовківська 14

            .item
              h2 E-mail:
              a(href="mailto:ok@one618.pro") ok@one618.pro


          .footer-items
            .item
              h2 Олександр Гень
              a(href="tel:+380979035161") 097 903 51 61

            .item
              h2 Андрій Рожило
              a(href="tel:+380505404900") 050 540 49 00

    .footer-logo-down
      .logoline-618
      //img.logo-618(src="images/svg/618.svg", alt="logo")

    .footer-link-collections
      .footer-links
        .links
          a.link(href="#") Google +
          a.link(href="#") Behance
          a.link(href="#") LinkedIn
          a.link(href="#") Facebook
          a.link(href="#") Pinterest
          a.link(href="#") Instagram





