html
head
  meta(charset = 'UTF-8')
  meta(name='viewport', content='width=device-width,minimum-scale=1,initial-scale=1')

  title 1.618

  link(rel="stylesheet" href="js/owlcarousel/assets/owl.carousel.css")
  link(rel="stylesheet" href="js/owlcarousel/assets/owl.theme.default.css")
  link(rel="stylesheet" href="js/owlcarousel/assets/owl.theme.green.css")
  link(rel="stylesheet" href="css/main.css")









