$text-color: #363636;

@mixin navbar() {
  position: relative;
  z-index: 100;
  #navbartitle{
    cursor: pointer;
  }

  #navbar {
    display: none;

  }
  a {
    display: block;
  }
  .navigation {
    font-size: 25px;
    color: $text-color;
    font-weight: 300;
    line-height: 60px;
    &:hover {
      color: #9E9E9E;
      transition: all 0.3s ease;


    }
  }
  //.navigation.changeColorText{
  //  font-weight: bold;
  //  color: #363636;
  //}







  .navigation:before {
    background-color: #363636;
    content: "";
    border-radius: 50%;
    width: 4px;
    height: 4px;
    position: absolute;
    left: -13%;
    top: 44%;
  }
  .navigation:hover:before {
    background-color: #9E9E9E;
    transition: all 0.3s ease;


  }
  .en-link {
    position: relative;
    font-size: 19px;
    line-height: 45px;
    color: #9E9E9E;
    &:hover {
      color: #363636;
      transition: all 0.3s ease;
    }
  }

  .en-link:before {
    background-color: #9E9E9E;
    content: "";
    border-radius: 50%;
    width: 4px;
    height: 4px;
    position: absolute;
    display: inline-block;
    left: -13%;
    top: 44%;
  }

  .en-link:hover:before {
    background: #363636;
    transition: all 0.3s ease;
  }

  @media screen and (max-width: 1280px) {
    .navigation {
      font-size: 21px;
      line-height: 40px;
    }
    .en-link {
      line-height: 40px;
    }
  }
  @media screen and (max-width: 768px) {
    .navigation {
      font-size: 16px;
      line-height: 35px;
    }
    .en-link {
      font-size: 15px;
      line-height: 35px;

    }
  }
}

@mixin nav-next-prev () {
  font-size: 25px;
  color: $text-color;
  font-weight: 300;
  @media screen and (max-width: 1280px) {
    font-size: 21px;
  }
  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
}
