.wrapper
  .logo-page-404
    .logo-pos
      .logo-404
        img(src="images/svg/logo-404.svg", alt="logo-404")

  .page-404
    .page-404-main
      .page-404-text
        h1 Ойой!
        p Щось пішло не так. Сторінка не існує чи була перенесена. У нас є ще багато матеріалів які можуть бути корисні для вас.

      .page-404-button
        a.button(href="index.html") Перейти до сайту

    .navbar
      #navbar
        a.navigation(href="#") Закрити
