.wrapper
  .logo-an
    .logo-pos
      img.logo-part-1(src="images/svg/logo-part-1.svg", alt="logo")
      .logo-animate

  .blog
    .blog-collections
      .row
        .blog-main
          .portfolio-heder-text
            h1 Блог 1.618
            p
              | Ми обожнюємо ділитися, а особливо, коли це стосується улюбленої справи нашого життя. Тут ми викладаємо корисну інформацію про архітектуру, дизайн, будівництво та ремонти.
              a(href='index-subscribe.html')  Підпишіться на e-mail розсилку,
              |  щоб не проґавити важливі новини.

          .blog-item-photo
            a(href="index-article.html")
              .item(data-content="Переваги та недоліки життя в квартирі та заміському будинку")
                img(src="images/blog-page/blog-photo-1.jpg", alt="blog-photo")


          .blog-link-items
            .items
              .item
                a(href="#") Усе що ви повинні знати будівництво котеджу. Частина 2 - Фундаменти
              .item
                a(href="#") В чому екологічність екологічних будинків?
            .items
              .item
                a(href="#") Як убезпечити себе від ненадійних підрядників?
              .item
                a(href="#") Обережно, токсичні будматеріали шкідливі для здоров'я

          .blog-item-photo
            a(href="#")
              .item(data-content="Секрети вдалої кухні/ванної/гардеробу/…" )
                img(src="images/blog-page/blog-photo-2.jpg", alt="blog-photo")


          .blog-link-items
            .items
              .item
                a(href="#") Як здешевити комуналку при ремонті квартир?
              .item
                a(href="#") Усе що ви повинні знати будівництво котеджу. Частина 1 - Проектування
            .items
              .item
                a(href="#") Як здешевити комуналку при ремонті квартир?
              .item
                a(href="#") Як вибрати пластикові вікна?


        .navbar
          #navbartitle.navigation.title Меню
          #navbar
            a.navigation(href="index.html") Головна

            a.navigation(href="index-team.html") Команда

            a.navigation(href="index-portfolio.html") Портфоліо

            a.navigation.nav-active(href="index-blog.html") Блог

            a.en-link(href="#") English version

          #pagination
            span.counter 1/8
            a.next-page(href="index-blog-2.html") Наступна
              br
              |сторінка
