.wrapper
  .main-page
    .header
      .logo#logo
        .logo-part-1
          img(src="images/svg/logo-part-1.svg", alt="logo")
        .logo-animate
      .header-text
        h1#changeWords Ви мрієте
          br
          |Ми проектуємо
        p Раціональні, прості та практичні проекти квартир, будинків, офісів, громадських закладів та інших споруд, а також їх комплексне втілення.

      .navbar
        #navbartitle.navigation.title Меню
        #navbar
          ul
            li
              a.navigation.nav-main(href="index.html") Головна
            li
              a.navigation(href="index-slider.html") Команда
            li
              a.navigation(href="index-portfolio.html") Портфоліо
            li
              a.navigation(href="index-blog.html") Блог
            li
              a.en-link(href="#") English version


    //TODO: SLIDER
    #slider-container
      .owl-carousel.owl-theme
        .item.image-slide(data-content="Квартира з алюмінієвим плінтусом")
          img(src='images/main-page/photo-slider-3.jpg', alt='#')
        .item.image-slide(data-content="Як закинутий цех перетворити на офіс")
          img(src='images/main-page/photo-slider-2.jpg', alt='#')
        .item.image-slide(data-content="Як закинутий цех перетворити на офіс")
          img(src='images/main-page/photo-slider-3.jpg', alt='#')
        .item.image-slide(data-content="Як закинутий цех перетворити на офіс")
          img(src='images/main-page/photo-slider-2.jpg', alt='#')


      .slider-buttons
        .buttons
          .prev-rel
            #prev Попередній
              br
              |проект
          .prev-rel-1
            #next Наступний
              br
              |проект

      //TODO: ARTICLE

    .main-article-collections
      h1.article-title Ось як ми працюємо
      .main-article
        .columns
          .column
            h2 01 Консультація
            p Безкоштовна консультація у нас в гостях або на вашому об’єкті.
          .column
            h2 02  Концепт
            p Наше бачення найкращого рішення ваших завдань, включаючи варіанти планування, скетчі або фото подібних рішень.
          .column
            h2 03 Проектування і дизайн
            p Інженерія, розробка планування та необхідних креслень. Розрахунок енергоефективності. Дизайн інтер’єру та екстер’єру, вибір кольорів та фактури матеріалів, меблів та елементів декору, погодження проектів та фотореалістичні 3D візуалізації.
          .column
            h2 04 Ремонт чи будівництво
            p Формування будівельних бригад. Управління проектом. Закупівля і доставка будматеріалів. Вивіз та утилізація будівельного сміття. Розробка додаткових креслень. Контроль якості і авторський нагляд.
          .column
            h2 05 Підтримка
            p Гарантійне обслуговування. Внесення змін та доповнень у проекти, професійні консультації та супровід будівництва.










