.wrapper
  .logo
    .logo-part-1
      img(src="images/svg/logo-part-1.svg", alt="logo")
    .logo-animate
  .portfolio
    .portfolio-collections
      .portfolio-main
        .portfolio-heder-text
          h1 Портфоліо 1.618
          p Тут ми викладаємо наші роботи, від концептів до уже реалізованих об’єктів. Тут ви знайдете архітектурні проекти котеджів, як візуалізації так і реальні фото інтер’єрів квартир та офісів, а також усі інші творіння команди 1.618.
        .portfolio-items
          a(href="index-project.html")
            .item(data-content="Як закинутий цех перетворити на офіс")
              img(src="images/main-page/photo-slider-2.jpg", alt="photo-portfolio")

          a(href="#")
            .item(data-content="Квартира з алюмінієвим плінтусом")
              img(src="images/main-page/photo-slider-1.jpg", alt="photo-portfolio")

          a(href="#")
            .item(data-content="Квартира з алюмінієвим плінтусом")
              img(src="images/main-page/photo-slider-1.jpg", alt="photo-portfolio")

          a(href="#")
            .item(data-content="Квартира з алюмінієвим плінтусом")
              img(src="images/main-page/photo-slider-1.jpg", alt="photo-portfolio")




      .navbar
        #navbartitle.navigation.title Меню
        #navbar
          ul
            li
              a.navigation(href="index.html") Головна
            li
              a.navigation(href="index-team.html") Команда
            li
              a.navigation.nav-portfolio(href="index-portfolio.html") Портфоліо
            li
              a.navigation(href="index-blog.html") Блог
            li
              a.en-link(href="index-en.html") English version

        #pagination
          span.counter 1/8
          a.next-page(href="#") Наступна
            br
            | сторінка

