.wrapper
  //BEGIN-logo
  .logo-an
    .logo-pos
      img.logo-part-1(src='images/svg/logo-part-1.svg', alt='logo')
      .logo-animate
  //AND-logo

  .portfolio
    .header
      .row
        //BEGIN-head-text
        .portfolio-heder-text
          h1 Портфоліо 1.618
          p Тут ми викладаємо наші роботи, від концептів до уже реалізованих об’єктів. Тут ви знайдете архітектурні проекти котеджів, як візуалізації так і реальні фото інтер’єрів квартир та офісів, а також усі інші творіння команди 1.618.
        //AND-head-text

        //BEGIN-nav
        .navigation-menu
          .navbar
            #navbartitle.navigation.title Меню
            #navbar
              ul
                li
                  a.navigation(href="index-team.html") Команда
                li
                  a.navigation.nav-active(href="index-portfolio.html") Портфоліо
                li
                  a.navigation(href="index-blog.html") Блог
                li
                  a.en-link(href="#") English version


          .nav-next-prev
            ul
              li
                a.prev(href="index-portfolio.html") Попередня
                  br
                  |сторінка
              li
                a.counter 2/8
              li
                a.next(href="index-portfolio-2.html") Наступна
                  br
                  |сторінка
        //AND-nav


    .portfolio-items
      a(href="index-project.html")
        .item(data-content="Як закинутий цех перетворити на офіс")
          img(src="images/main-page/photo-slider-2.jpg", alt="photo-portfolio")

      a(href="#")
        .item(data-content="Квартира з алюмінієвим плінтусом")
          img(src="images/main-page/photo-slider-1.jpg", alt="photo-portfolio")

      a(href="#")
        .item(data-content="Квартира з алюмінієвим плінтусом")
          img(src="images/main-page/photo-slider-1.jpg", alt="photo-portfolio")

      a(href="#")
        .item(data-content="Квартира з алюмінієвим плінтусом")
          img(src="images/main-page/photo-slider-1.jpg", alt="photo-portfolio")



