.wrapper
  .logo-an
    .logo-pos
      img.logo-part-1(src="images/svg/logo-part-1.svg", alt="logo")
      .logo-animate

  .team-page
    .header
      .row
        .text-header
            h1 Команда 1.618
            p Ми зорієнтовані на ефективність, професіоналізм, чесність, прозорість та відкритість.

        .navbar
          #navbartitle.navigation.title Меню
          #navbar
            ul
              li
                a.navigation.nav-active(href="index-team.html") Команда
              li
                a.navigation(href="index-portfolio.html") Портфоліо
              li
                a.navigation(href="index-blog.html") Блог
              li
                a.en-link(href="#") English version

    .team-photo
      img(src="images/command-page/team-photo.jpg", alt="Photo Team")




    .team-photo-items
      .row
        .col
          img(src="images/command-page/oleksandr-hen.jpg", alt="Oleksandr Hen")
          .text-about
            .text-prof
              p Засновник, архітектор
            .text-name
              p Олександр
                br
                |Гень
        .col
          img(src="images/command-page/andriy-rogulo.jpg", alt="Andriy Rogulo")
          .text-about
            .text-prof
              p Засновник
            .text-name
              p Андрій
                br
                |Рожило
        .col
          img(src="images/command-page/oksana-kocuba.jpg", alt="Oksana Kocuba")
          .text-about
            .text-prof
              p Архітектор
            .text-name
              p Оксана
                br
                |Коцюруба
        .col
          img(src="images/command-page/kateruna-nikitina.jpg", alt="Kateruna Nikitina")
          .text-about
            .text-prof
              p Архітектор
            .text-name
              p Катерина
                br
                |Нікітіна
        .col
          img(src="images/command-page/nela-manduluk.jpg", alt="Nela Manduluk")
          .text-about
            .text-prof
              p Менеджер
            .text-name
              p Неля
                br
                |Мандилюк
        .col
          img(src="images/command-page/bohdan-zaharkiv.jpg", alt="Bohdan Zaharkiv")
          .text-about
            .text-prof
              p Надійний майстер
            .text-name
              p Богдан
                br
                |Захарків

    .team-text-inform
      .text-inform
        h1 Хочеш стати одним із нас?
        p Ми шукаємо талановитих. Приєднуйся!
    .team-article
      .row
        .col
          .item
            h2 Архітектор
            p Візьми участь у створенні іноваційних проектів. Втілюй найсміливіші ідеї.
          .item
            h2 Візуалізатор
            p Нам потрібні люди, що можуть створити зображення які важко відрізнити від реальних.
        .col
          .item
            h2 Менеджер
            p У нас велика кількість проектів з якими ми потребуємо постійної допомоги менеджера.
          .item
            h2 Надійний майстер
            p Шукаємо надійну людину для втілення наших проектів. Пропонуємо довготривалу співпрацю.
      .team-button
        a.button(href="#") Приєднатися до команди


