.wrapper
  .logo
    .logo-part-1
      img(src="images/svg/logo-part-1.svg", alt="logo")
    .logo-animate
  .team-page
    .header
      .team-header
        h1 Команда 1.618
        p Ми зорієнтовані на ефективність, професіоналізм, чесність, прозорість та відкритість.

      .navbar
        #navbartitle.navigation.title Меню
        #navbar
          ul
            li
              a.navigation(href="index.html") Головна
            li
              a.navigation.nav-team(href="index-team.html") Команда
            li
              a.navigation(href="index-portfolio.html") Портфоліо
            li
              a.navigation(href="index-blog.html") Блог
            li
              a.en-link(href="index-en.html") English version

    .team-photo
      .photo
        img(src="images/command-page/team.jpg", alt="Photo Team" width="1300")


    .team-main

      .team-photo-items
        .items
          .item
            img(src="images/command-page/oleksandr-hen.jpg", alt="Oleksandr Hen")
            .text-about
              p.text-prof Засновник, архітектор
              p.text-name Олександр
                br
                |Гень
          .item
            img(src="images/command-page/andriy-rogulo.jpg", alt="Andriy Rogulo")
            .text-about
              p.text-prof Засновник
              p.text-name Андрій
                br
                |Рожило
          .item
            img(src="images/command-page/oksana-kocuba.jpg", alt="Oksana Kocuba")
            .text-about
              p.text-prof Архітектор
              p.text-name Оксана
                br
                |Коцюруба
          .item
            img(src="images/command-page/kateruna-nikitina.jpg", alt="Kateruna Nikitina")
            .text-about
              p.text-prof Архітектор
              p.text-name Катерина
                br
                |Нікітіна
          .item
            img(src="images/command-page/nela-manduluk.jpg", alt="Nela Manduluk")
            .text-about
              p.text-prof Менеджер
              p.text-name Неля
                br
                |Мандилюк
          .item
            img(src="images/command-page/bohdan-zaharkiv.jpg", alt="Bohdan Zaharkiv")
            .text-about
              p.text-prof Надійний майстер
              p.text-name Богдан
                br
                |Захарків

      .team-text-inform
        .text-inform
          h1 Хочеш стати одним із нас?
          p Ми шукаємо талановитих. Приєднуйся!
      .team-article
        .items
          .item
            h2 Архітектор
            p Візьми участь у створенні іноваційних проектів. Втілюй найсміливіші ідеї.
          .item
            h2 Візуалізатор
            p Нам потрібні люди, що можуть створити зображення які важко відрізнити від реальних.
          .item
            h2 Менеджер
            p У нас велика кількість проектів з якими ми потребуємо постійної допомоги менеджера.
          .item
            h2 Надійний майстер
            p Шукаємо надійну людину для втілення наших проектів. Пропонуємо довготривалу співпрацю.
          .team-button
            a.button(href="#") Приєднатися до команди

