.wrapper
  .logo-thank-you
    .logo-pos
      .logo-part-1
        img(src="images/svg/logo-part-1.svg", alt="logo")
      .logo-animate
      .logo-part-618
        img(src="images/svg/logo-part-618.svg", alt="logo")
  .thank-you
    .thank-you-main
      .thank-you-text
        h1 Дякуюмо, що підписалися на нашу розсилку!

      .thank-you-button
        a.button(href="index-404.html") Повернутися до сайту

    .navbar
      #navbar
        a.navigation(href="#") Закрити
