.footer {
  position: relative;
  background-color: #363636;
  color: #fff;
  
  overflow: hidden;

  .footer-head {
    padding-bottom: 10%;
    .logofoooter {
      transform:translateY(-38px);
      // opacity:0;
      position: relative;
      // height: 100%;
      // transition: min-height 1s ease-in;
      @include col;
      @include size(1);
      .logo-part-2 {
        width: 40px;
        height: 38px;
        left: 0;
        position: absolute;
      
      }
      .logo-animate {
        position: absolute;
        background: #FFF;
        top: 38px;
        left: 18px;
        width: 22px;
        height: calc(100% - 40px);
      
      }
      
      // .logo-animate:before {
      //   background: url(../images/svg/logo-white.png) no-repeat;
      //   content: "";
      //   background-size: 24px 50px;
      //   position: absolute;
      //   background-position: 0 0;
      //   border: none;
      //   height: 57px;
      //   padding-right: 30px;
      //   top: 105%;
      //   left: 0;
      // }
    }
    .footer-collection {
      padding-top: 10%;      
      padding-left: 8.33%;
      @include col;
      @include size(8);
      @include size-xxs(7);
      .footer-text {
        h1 {
         @include header-text;
          color: #fff;
        }
      }

      .footer-items-name {
        @include row-flex();
        justify-content: space-between;
        padding-top: 7%;

        .footer-items {
          @include col;
          @include size(5.5);
          @include size-xs(12);
          .item {
            padding-bottom: 10%;
            h2 {
              @include title-h2;
              padding-bottom: 3%;
              color: #fff
            }
            a {
              @include p-text;
              color: #fff;

            }
            .map {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }



//TODO: Footer logo down
  .footer-logo-down {
    position: relative;

    .logoline-618 {
      position: relative;
      padding-left: 8.33%;
      @include col;
      @include size(9);
      @include size-xxs(8);

      height: 22px;
      background-color: white;
    }
    .logoline-618:before {
      background: url(../images/svg/618.svg) no-repeat;
      content: "";
      background-size: 46px 40px;
      position: absolute;
      background-position: 0px -8px;
      border: none;
      height: 23px;
      padding-right: 50px;
      right: -60px;
    }

  }


//TODO:footer links
  .footer-link-collections {
    .footer-links {
      @include col;
      @include size(9);
      padding: 5% 0 5% 8.33%;

      .links {
        @include row-flex;
        justify-content: space-between;


        .link {
          position: relative;
          @include col();
          @include size(2);
          @include size-sm(4);
          @include size-xs(5);
          @include p-text;
          color: #fff;
        }



        .link:before {
          position: absolute;
          background-color: #fff;
          content: "";
          border-radius: 50%;
          width: 8px;
          height: 8px;
          display: inline-block;
          left: -12px;
          top: 2px;

        }
      }
    }
  }
}



@media screen and (max-width: 768px) {
  .footer {
    .footer-logo-down {
      .logoline-618 {
        height: 16px;
      }
      .logoline-618:before {
        background-size: 40px 32px;
        height: 16px;

      }

    }

  }
}


@media screen and (max-width: 480px) {
  .footer {
    .footer-logo-down {
      .logoline-618 {
        height: 10px;
      }
      .logoline-618:before {
        background-size: 26px 26px;
        height: 10px;

      }

    }
    .footer-link-collections {
      .footer-links {
        .links {
          .link:before {
            width: 4px;
            height: 4px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .footer {

  }
}
