.footer {
  //position: relative;
  background-color: #363636;
  z-index: 1000;

  .logo-footer {

    //transform: translateY(-38px);

    .logo-footer-pos {


      .logo-part-2 {
        display:none;
        position: absolute;
        width: 41px;
        left: 37px;
        @include to($max_width: 1920px) {
          left: 37px;
          width: 40px;
        }

        @include to($max_width: 1440px) {
          left: 37px;
          width: 40px;
        }
        @include to($max_width: 1280px) {
          left: 36px;
          width: 41px;
        }
        @include to($max_width: 768px) {
          width: 30px;
          left: 17px;
        }
        @include to($max_width: 480px) {
          width: 16px;
          left: 9.5px;
        }

      }
      .logo-animate {
        position: absolute;
        background: #fff;
        // top: 33px;
        top: 0!important;
        left: 55px;
        width: 21px;
        height: 245px;

        @include to($max_width: 1920px) {
          top: 33px;
          left: 55px;
          width: 21px;
        }

        @include to($max_width: 1440px) {
          top: 33px;
          left: 56px;
          width: 21px;
        }
        @include to($max_width: 1280px) {
          top: 33px;
          left: 56px;
          width: 21px;
        }
        @include to($max_width: 768px) {
          top: 25px;
          left: 31px;
          width: 16px;
        }
        @include to($max_width: 480px) {
          top: 10px;
          left: 17px;
          width: 9px;
        }

      }
    }
  }

  .footer-head {
    @include shift-left(0.9);
    padding: 10% 0 5%;


     .row {
       @include row-flex;
       justify-content: space-between;


       .footer-items-collection {
         @include col();
         @include size(7.4);

         .footer-text {
           @include size-xxs(12);

           h1 {
             @include header-text;
             color: #fff;
           }
         }
        .footer-item-columns {

          @include row-flex;
          justify-content: space-between;

          .items {
            @include col();
            @include size(5);
            @include size-xs(12);
            .item {
              padding-bottom: 8%;
              h2 {
                @include title-h2;
                padding-bottom: 3%;
                color: #fff
              }
              a {
                @include p-text;
                color: #fff;
                &:hover {
                  color: #9E9E9E;
                  transition: all 0.3s ease;
                }
                &.map {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
       .footer-nav {
         position: absolute;
         z-index: 100;

         right: 22%;
         @include to($max_width: 1440px) {
           right: 13.4%;
         }
         @include to($max_width: 1280px) {
           right: 12.2%;
         }
         @include to($max_width: 768px) {
           right: 11.6%;
         }
         @include to($max_width: 480px) {
           right: 5%;
         }
         #navbar {

           .navigation {
             @include navbar-footer();
           }
           .en-link {
             @include en-link();
           }
         }
       }
    }
  }

  //TODO: Footer logo down
  .footer-logo-down {
    position: relative;
    @include shift-padding-left(0);
    @include shift-xxlg-padding-left(0.1);
    @include shift-xlg-padding-left(0.2);
    @include shift-lg-padding-left(0.3);
    @include shift-sm-padding-left(0.2);
    @include shift-xs-padding-left(0);

    .logoline-618 {
      position: relative;
      @include col;
      @include size(7.4);
      @include size-xlg(7.8);
      @include size-xxs(8);

      height: 21px;
      background-color: white;
    }
    .logoline-618:before {
      background: url(../images/svg/618.svg) no-repeat;
      content: "";
      background-size: 46px 40px;
      position: absolute;
      background-position: 0px -8px;
      border: none;
      height: 23px;
      padding-right: 50px;
      right: -60px;
    }

  }

  //TODO:footer links
  .footer-link-collections {
    .footer-links {
      @include col;
      @include size(7.4);
      @include size-lg(8.2);
      @include size-xxs(8);


      padding: 5% 0 5% 8.33%;

      .links {
        @include row-flex;
        justify-content: space-between;

        .link {
          position: relative;
          @include col();
          @include size(2);
          @include size-sm(4);
          @include size-xs(5);
          @include p-text;
          color: #fff;
          &:hover {
            transition: all 0.3s ease;
            color: #9E9E9E;
          }
        }

        .link:before {
          position: absolute;
          background-color: #fff;
          content: "";
          border-radius: 50%;
          width: 8px;
          height: 8px;
          display: inline-block;
          left: -12px;
          top: 2px;
        }
        .link:hover:before {
          background-color: #9E9E9E;
          transition: all 0.3s ease;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    .wrapper {
      .footer-head {
        padding-bottom: 67%;
      }
      .footer-logo-down {
        .logoline-618 {
          height: 16px;
        }
        .logoline-618:before {
          background-size: 40px 32px;
          height: 16px;

        }

      }
    }
  }
}

@media screen and (max-width: 480px) {
  .footer {
    .wrapper {
      .footer-head {
        padding-bottom: 10%;
      }
      .footer-logo-down {
        .logoline-618 {
          height: 9px;
        }
        .logoline-618:before {
          background-size: 22px 25px;
          height: 9px;

        }

      }
      .footer-link-collections {
        .footer-links {
          .links {
            .link:before {
              width: 4px;
              height: 4px;
            }
          }
        }
      }
    }
  }
}

