.wrapper {
  position: relative;
  // background-color:#fff;
  z-index: 1; 
  @include wrapper-full();
  @include reset();
  @include shift-left(2);
  @include shift-lg-left(1);
  @include shift-md-left(0.5);
  @include shift-xs-left(-0.2);
  height: auto;

  // .logo {
  //   .logo-part-1 {
  //     width: 40px;
  //     left: 37px;
  //     position: absolute;
  //   }
  //   .logo-animate {
  //     position: absolute;
  //     background: #363636;
  //     top: 41px;
  //     left: 55px;
  //     width: 22px;
  //     // height: 10%;
  //   }

  //   .logo-animate:before {
  //     background: url(../images/svg/logo-part-618.svg) no-repeat;
  //     content: "";
  //     background-size: 24px 50px;
  //     position: absolute;
  //     background-position: 0 0;
  //     border: none;
  //     height: 50px;
  //     padding-right: 30px;
  //     top: 105%;
  //     left: 0;
  //   }
  // }
}

@media screen and (max-width: 768px) {
  .wrapper {
    // .logo {
    //   .logo-part-1 {

    //     width: 31px;
    //     left: 17px;

    //   }
    //   .logo-animate {
    //     top: 35px;
    //     left: 31px;
    //     width: 17px;

    //   }
    //   .logo-animate:before {
    //     background-size: 13px 42px;
    //     height: 40px;

    //   }
    // }
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    // .logo {

    //   .logo-part-1 {
    //     width: 18px;
    //     left: 13px;

    //   }
    //   .logo-animate {
    //     top: 20px;
    //     left: 21px;
    //     width: 10px;

    //   }
    //   .logo-animate:before {
    //     background-size: 11px 22px;
    //     top: 102%;
    //     height: 40px;

    //   }
    // }
  }
}
