#blog-article {
  .header {
    margin-bottom: 5%;
    @include shift-left(0.9);
    .row {
      @include row-flex;
      justify-content: space-between;

      .text-header {
        @include col;
        @include size(9);
        @include size-xs(8);
        @include size-xxs(7.5);
        .text {
          @include size(5);
          @include size-xxlg(7);
          @include size-xlg(8);
          @include size-xs(11.5);
          h1 {
            @include header-text;
          }
          p {
            @include p-text;
          }
        }

      }

      .navbar {
        @include col;
        @include size(2.5);
        @include size-xs(3.5);
        @include size-xxs(4.2);

        &.fade-out {
          opacity: 0;
        }
        .navigation {
          @include navbar();
        }
        .nav-active {
          @include nav-active()

        }
        .en-link {
          @include nav-en-link();
        }
        #navbartitle {
          margin-bottom: 60%;

        }
        #navbar {
          display: none;
          padding-bottom: 60%;
        }
        #back {
          @include nav-next-prev;
          .back {
            position: relative;
            display: block;

            &:before {
              position: absolute;
              left: -13%;
              top: 44%;
              background-color: #363636;
              content: "";
              border-radius: 80%;
              width: 4px;
              height: 4px;
              display: inline-block;
              @include to($max_width:480px) {
                top: 36%;
              }
            }
          }
        }
      }
    }
  }

  //main-photo
  .article-main-photo {
    @include shift-left(0.9);
    @include size(10.2);
    margin-bottom: 5%;


  }

  //main-content
  .main-content {
    @include shift-left(0.9);
    @include size(7.4);
    @include size-xs(6.4);

    .article-text {
      .item {
        h2 {
          @include title-h2;
          position: relative;
          padding-bottom: 2%;
          &:before {

          }
        }

        h2:before {
          display: block;
          position: absolute;
          content: '';
          background-color: #363636;
          border-radius: 50%;
          width: 8px;
          height: 8px;
          top: 2%;
          left: -2%;
          @media screen and (max-width: 768px) {
            left: -3%;
          }
          @media screen and (max-width: 480px) {
            width: 4px;
            height: 4px;
          }
        }

        p {
          @include p-text;
        }
      }

      .list-text {
        li {
          @include p-text;
          list-style-type: disc;
          margin: 2% 7%;
        }
      }
      .quote {
        margin: 5% 0;
        background-color: #F9F9F9;
        padding: 5% 15%;
        color: #363636;
        font-weight: 300;
        line-height: 47px;

        p {
          @include p-text;

          font-style: italic;
        }
        .resource {
          padding-top: 2%;
          font-style: normal;
          font-size: 1.5rem;

        }

      }
      .quote-2 {
        border-left: 4px solid #363636;
        padding: 0 2%;
        p {
          @include p-text;
          font-weight: bold;

        }
        .resource {
          padding-top: 2%;
          font-weight: normal;
          font-size: 1.5rem;
        }

      }
    }

    .article-photo {
      .item-images {
        padding: 5% 0;
        @include row-flex();
        justify-content: space-between;
        .item-img-1 {
          @include col();
          @include size(12);
          padding-bottom: 3%;

        }
        .item-img-2, .item-img-3 {
          @include col();
          @include size(5.9);
          @include size-xs(12);

        }
      }
    }

    .buttons-network {
      padding: 5% 0;

      .items {
        @include row-flex();
        justify-content: space-between;

        .item {
          @include col();
          @include size(4);
          @include size-xs(12);
          button {
            display: flex;
            justify-content: center;
            align-items: center;
            @include button();
            svg {
              margin-right: 5px;
              width: 1.5rem;
              height: 1.5rem;
            }
          }
          button:hover #facebook, button:hover #linkedin, button:hover #pinterest {
            transition: ease 0.3s;
            fill: #fff;
          }
        }
      }
    }
  }
}

.block-background {
  @include background-block();

  .wrapper {
    .article-blog {
      @include shift-left(0.9);
      @include size(7.4);
      @include size-xs(6.4);

      .article-text-blog {
        padding-top: 10%;
        h2 {
          @include title-h2;
          position: relative;
          padding-bottom: 3%;
        }
        h2:before {
          @include pseudo-dot-h2();
          top: -7%;
          left: -2%;
        }
      }

      .article-photo-blog {
        position: relative;
        a {
          .caption {
            position: absolute;
            top: 80%;
            left: 30%;
            transform: translate(-30%, -80%);
            h3 {
              @include size(7);
              @include size-lg(10);
              @include size-xs(12);
              @include photo-on-text
            }
          }
        }
      }

      .article-link-blog {
        @include row-flex();
        justify-content: space-between;
        padding-bottom: 10%;
        .item {
          align-self: flex-start;
          @include col();
          @include size(5.5);
          @include size-xs(12);
          @include title-h2;
          padding-top: 10%;
          @include border-bottom-text;

          padding-bottom: 2%;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .wrapper {
    #blog-article {
      .main-content {
        .article-blog {
          .article-photo-blog {
            a {
              h3 {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
