.main-page {
  .header {
    padding-bottom: calc(100% - 50%);

    @include row-flex();
    justify-content: space-between;
    .header-text {
      padding-left: 8.33%;
      @include col;
      @include size(6);
      @include size-md(7);
      @include size-xs(8);
      @include size-xxs(7);
      h1 {
        @include header-text();
      }
      p {
        font-size: 21px;
        line-height: 35px;
        @include p-text;
      }
    }
    .navbar {
      @include col();
      @include size(3);
      @include size-xs(4);
      @include size-xxs(4.5);
      #navbar {
        @include navbar();

      }
    }
  }



  #slider-container {
    @include row-flex();
    margin-bottom: 10%;

    .slider {
      padding-left: 8.33%;
      @include col();
      @include size(11);
      padding-bottom: 47%;

      .image-slide {
        position: relative;
        opacity: 1;
        transition: all 1s ease;
        img {
          position: absolute;
        }

        .slider-text {
          @include size(5);
          @include size-xs(7);
          @include size-xxs(8);
          position: absolute;
          top: 0;
          padding: 44% 0 0 10%;
          @include photo-on-text;
        }

      }
      .active {
        opacity: 0;

      }
    }
    .slider-buttons {
      padding-left: 8.33%;
      @include col;
      @include size(11);

      .buttons {
        @include row-flex();
        justify-content: space-between;
        .prev-rel, .prev-rel-1 {
          @include col();
          @include size(2.6);
          @include size-md(3);
          @include size-xs(5);
          position: relative;
        }

        #prev, #next {
          @include slider-botton-text;
          padding-left: 15%;
          cursor: pointer;


        }

        #prev:before, #next:before {
          background-color: #363636;
          content: "";
          border-radius: 50%;
          width: 4px;
          height: 4px;
          display: inline-block;
          position: absolute;
          left: 0;
          top: 15%;
        }
      }
    }
  }


  .main-article-collections {
    .article-title {
      @include col;
      @include size-xlg(4);
      @include size-lg(5);
      @include size-md(6);
      @include size-xs(7);
      @include header-text();
      padding-left: 7%;
    }

    .main-article {
      padding-left: 8.33%;
      @include col;
      @include size(8);
      @include size-xxs(7);
      padding-bottom: 10%;


      .columns {
        @include row-flex;
        justify-content: space-between;
        align-items: flex-start;



        //display: flex;
        //flex-direction: column;
        //flex-wrap: wrap;
        //align-content: space-between;
        //height: 90vh;

        //.column:nth-of-type(1) { order: 1; }
        //.column:nth-of-type(2) { order: 4; }
        //.column:nth-of-type(3) { order: 2; }
        //.column:nth-of-type(4) { order: 5; }
        //.column:nth-of-type(5) { order: 3; }

      .column {
        @include col;
        @include size(5.5);
        @include size-xs(12);
        margin-bottom: 0;
        padding-top: 10%;
        padding-bottom: 5%;
        @include border-bottom-text;


        h2 {
          @include title-h2();
          position: relative;
          padding-bottom: 5%;
        }

        h2:before {
          @include pseudo-dot-h2()
        }
        p {
          @include p-text;
        }
      }
      }
    }
  }
}



@media screen and (max-width: 1280px) {
  .main-page {
    #slider-container {
      .slider {
        .image-slide {
          .slider-text {
            padding: 40% 0 0 10%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main-page {
    #slider-container {
      .slider {
        .image-slide {
          .slider-text {
            padding: 38% 0 0 10%;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 480px) {
  .wrapper {
    #slider-container {
    .slider {
      .image-slide {
        .slider-text {
          padding: 25% 0 0 10%;
        }
      }
    }
  }
  }
}




