.main-page {
  .header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: calc(100% - 50%);

    .header-text {
      padding-left: 8.33%;
      @include col;
      @include size(6);
      @include size-md(7);
      @include size-xs(8);
      @include size-xxs(7);
      h1 {
        @include header-text();
      }
      p {
        font-size: 21px;
        line-height: 35px;
        @include p-text;
      }
    }
    #navbartitle{
      cursor: pointer;
    } 
    .navbar {
      position:fixed;
      right: 0;
      @include col();
      @include size(3);
      @include size-xs(4);
      @include size-xxs(4.5);
      #navbar {
        @include navbar();
        display: none;

      }
    }
  }



  #slider-container {
    margin-bottom: 10%;
    .slider {
      padding-left: 8.33%;
      @include col();
      @include size(11);
      padding-bottom: 2%;

      .image-slide {
        position: relative;
        opacity: 1;
        transition: all 1s ease;
        height: 100%;
        //img {
        //  position: absolute;
        //}
        .caption {
          position: absolute;
          top: 84%;
          left: 7.5%;
          transform: translate(7.5%, -84%);
          .slider-text {
            @include size(9);
            @include size-lg(8);
            @include photo-on-text;
          }
        }
      }
      //.active {
      //  opacity: 0;
      //
      //}
    }
    .slider-buttons {
      padding-left: 8.33%;
      @include col;
      @include size(11);

      .buttons {
        @include row-flex();
        justify-content: space-between;
        .prev-rel, .prev-rel-1 {
          @include col();
          @include size(2.6);
          @include size-md(3);
          @include size-xs(5);
          position: relative;
        }

        #prev, #next {
          @include slider-botton-text;
          padding-left: 15%;
          cursor: pointer;


        }

        #prev:before, #next:before {
          background-color: #363636;
          content: "";
          border-radius: 50%;
          width: 4px;
          height: 4px;
          display: inline-block;
          position: absolute;
          left: 0;
          top: 15%;
        }
      }
    }
  }


  .main-article-collections {
    .article-title {
      @include col;
      @include size(4);
      @include size-xlg(5);
      @include size-lg(5);
      @include size-md(6);
      @include size-xs(7);
      @include header-text();
      margin-bottom: 0;
      padding-left: 8.33%;
    }

    .main-article {
      padding-left: 8.33%;
      @include col;
      @include size(8.2);
      @include size-xxs(7);
      padding-bottom: 10%;


      .columns {
        //@include row-float;
        display:block;

        .column:nth-child(odd){
          float: left;
        }
        .column:nth-child(even) {
          float: right;
        }
        .column:last-child{
          float: none;
          clear:both;
        }

      .column {
        @include size(5.4);
        @include size-xs(12);
        margin-bottom: 0;
        padding-top: 10%;
        padding-bottom: 5%;
        @include border-bottom-text;


        h2 {
          @include title-h2();
          position: relative;
          padding-bottom: 5%;
        }

        h2:before {
          @include pseudo-dot-h2()
        }
        p {
          @include p-text;
        }
      }
      }
    }
  }
}


@media screen and (max-width: 480px) {
  .wrapper {
    .main-article-collections {
      .main-article {
        .columns {
          .column:nth-child(even) {
            float: left;
          }
        }
      }
    }
  }
}
