.main-page {
  position: relative;
  .header {
    @include shift-left(0.9);
    position: relative;
    padding-bottom: 50%;

    .row {
      @include row-flex();
      justify-content: space-between;

      .header-text {
        @include col;
        @include size(9);
        @include size-xs(8);
        @include size-xxs(7.5);

        .text {
          @include size(5);
          @include size-xxlg(7);
          @include size-xlg(8);
          @include size-xs(11.5);

          h1 {
            @include header-text();
          }
          p {
            @include p-text;
          }
        }
      }

      .navbar {
        @include col;
        @include size(2.5);
        @include size-xs(3.5);
        @include size-xxs(4.2);
        opacity: 1;
        transition: all 1s ease-out;
        position: fixed;
        right: 0;

        &.fade-out {
          opacity: 0;
        }
        .navigation {
          @include navbar();
        }
        .nav-active {
          @include nav-active()

        }
        .en-link {
          @include nav-en-link();
        }
        #navbar {
          display: none;
        }
      }
    }
  }

  #slider-container {
    @include shift-left(0.9);
    margin-bottom: 15%;


    .owl-carousel {
      .owl-stage-outer {
        position: relative;
      }
      .owl-item {
        .item {
          height: auto;
          width:100%;
          display: block;
        }
      }

      .animated {
        -webkit-animation-duration: 2000ms;
        animation-duration: 2000ms;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
      }
      .item {
        .img {
          display: block;
          width: 100%;
          height: auto;
        }
      }

      .owl-animated-out {
        z-index: 0;
      }

      .owl-animated-in {
        z-index: 1;

      }
      .fadeNext {
        -webkit-animation-name: fadeNext;
        animation-name: fadeNext;
      }
      .fadePrev {
        -webkit-animation-name: fadePrev;
        animation-name: fadePrev;
      }

      .bringOut {
        opacity: 1;
        left: 0;
      }
      .bringIn {
        opacity: 1;
      }

      @keyframes bring {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 1;
        }
      }
      @keyframes fadeNext {
        0% {
          opacity: 1;
          -moz-box-shadow: none;
          box-shadow: none;
          transform: scale(1) translateX(100%);
        }
        20% {
          opacity: 1;
          -moz-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.75);
          transform: scale(1.1) translateX(101%);
        }
        60% {
          opacity: 1;
          -moz-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.75);
          transform: scale(1.01) translateX(2%);
        }
        90% {
          -moz-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.75);
          transform: scale(1) translateX(1%)
        }
        100% {
          opacity: 1;
          -moz-box-shadow: none;
          box-shadow: none;
          transform: scale(1) translateX(10px);
        }
      }


      @keyframes fadePrev {
        0% {
          opacity: 1;
          -moz-box-shadow: none;
          box-shadow: none;
          transform: scale(1) translateX(10px);
        }
        10% {
          opacity: 1;
          -moz-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.75);
        }
        40% {
          opacity: 1;
          -moz-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.75);
          transform: scale(1.01) translateX(8px);
        }
        80% {

          -moz-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.75);
          transform: scale(1.1) translateX(calc(110% + 25px));
        }
        90% {
          -moz-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.75);
          transform: scale(1) translateX(calc(100% + 25px))
        }
        100% {
          opacity: 1;
          -moz-box-shadow: none;
          box-shadow: none;
          transform: scale(1) translateX(calc(100% + 25px));
        }
      }


      .owl-nav {

        @include row-flex;
        justify-content: space-between;
        text-align: inherit;
        margin-top: 0;

        .owl-next, .owl-prev {
          @include col();
          @include size(3.2);
          @include size-md(3);
          @include size-xs(5);
          position: relative;
          background: none;
          #left, #right {
            @include slider-botton-text;
            padding-left: 30px;


            &:hover {
              color: #9E9E9E;
              transition: all 0.3s ease;
            }
            &:before {
              background-color: #363636;
              content: "";
              border-radius: 50%;
              width: 4px;
              height: 4px;
              display: inline-block;
              position: absolute;
              left: 3%;
              top: 22%;
            }
            &:hover:before {
              background-color: #9E9E9E;
              transition: all 0.3s ease;
            }
          }
        }
      }


      //owl-photo-item
      .owl-item {
        transform: translateX(10px);

      }
      .owl-stage-outer {

        padding-bottom: 3%;
      }

      .image-slide img {
        width: 100%;
        vertical-align: top;
      }
      .image-slide:after {
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.4);
        position: absolute;
        opacity: 0;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
      }

      .image-slide:before {
        @include photo-on-text;
        @include size(5);
        @include size-xs(6.5);
        position: absolute;
        content: attr(data-content);
        color: #fff;
        z-index: 1;
        bottom: 0;
        padding: 0 0 7% 10%;
        box-sizing: border-box;
        opacity: 1;
      }
      .image-slide:hover:after, .image-slide:hover:before {
        opacity: 1;
      }
    }
    // .owl-controls {
    //   padding-left: 8.33%;
    //   @include col;
    //   .owl-nav {
    //     @include row-flex();
    //     justify-content: space-between;
    //     .owlPrevBtn, .owlNextBtn{
    //       @include col();
    //       @include size(2.6);
    //       @include size-md(3);
    //       @include size-xs(5);
    //       position: relative;
    //     }

    //     // .owl-prev, .owl-next {
    //     //   @include slider-botton-text;
    //     //   padding-left: 15%;
    //     //   cursor: pointer;
    //     //   &:hover{
    //     //     color: #9E9E9E;
    //     //     transition: all 0.3s ease;
    //     //   }
    //     // }

    //     // .owl-prev:before, .owl-next:before {
    //     //   background-color: #363636;
    //     //   content: "";
    //     //   border-radius: 50%;
    //     //   width: 4px;
    //     //   height: 4px;
    //     //   display: inline-block;
    //     //   position: absolute;
    //     //   left: 0;
    //     //   top: 15%;
    //     // }

    //     // .owl-next:hover:before , .owl-prev:hover:before {
    //     //   background-color: #9E9E9E;
    //     //   transition: all 0.3s ease;
    //     // }
    //   }
    // }
  }

  .main-article-collections {
    @include shift-padding-left(0.9);

    .article-title {
      @include size(4);
      @include size-xlg(5);
      @include size-lg(5);
      @include size-md(6);
      @include header-text();
      margin-bottom: 0;
    }

    .main-article {
      @include col;
      @include size(7.8);
      @include size-xs(6.8);
      min-height: 100vh;
      padding-bottom: 10%;

      .columns {
        @include row-float;
        display: block;

        .column:nth-child(odd) {
          float: left;
        }
        .column:nth-child(even) {
          float: right;
          @include to($max_width: 480px) {
            float: left;
          }
        }
        .column:last-child {
          float: none;
          clear: both;
        }
        //.column:nth-child(1) {
        //    order: 1;
        //}
        //.column:nth-child(2) {
        //    order: 4;
        //}
        //.column:nth-child(3) {
        //    order: 2;
        //}
        //.column:nth-child(4) {
        //    order: 5;
        //}
        //.column:nth-child(5) {
        //    order: 3;
        //}
        .column {
          @include size(5.4);
          @include size-xs(12);
          margin-bottom: 0;
          padding-top: 10%;
          padding-bottom: 5%;
          @include border-bottom-text;

          h2 {
            @include title-h2();
            position: relative;
            padding-bottom: 5%;
          }

          h2:before {
            @include pseudo-dot-h2()
          }
          p {
            @include p-text;
          }
        }
      }
    }
  }
}
