.main-page {
  background-color: #FFF;

  .header {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-bottom: calc(100% - 50%);
    // .scrollmagic-pin-spacer{
      // min-height:auto;
      // min-height: calc(100% - 40px);
      // transition: min-height 1s ease-in;

      .logo {
        // opacity:0;
        position: relative;
        width: 40px;
        // height: 100%;
        // transition: min-height 1s ease-in;
      @include col;
      @include size(1);
      .logo-part-1 {
        //width: 40px;
        //height:47px;
        //left: 0;
        //position: absolute;

      }
      .logo-animate {
        position: absolute;
        background: #363636;
        top: 40px;
        left: 18px;
        width: 22px;
        height: calc(100% - 40px);

      }

      .logo-animate:before {
        background: url(../images/svg/logo-part-618.svg) no-repeat;
        content: "";
        background-size: 24px 50px;
        position: absolute;
        background-position: 0 0;
        border: none;
        height: 57px;
        padding-right: 30px;
        top: 105%;
        left: 0;
      }
      // }
    }
    .header-text {
      // padding-left: 8.33%;
      @include col;
      @include size(6.5);
      @include size-md(7);
      @include size-xs(8);
      @include size-xxs(7);
      h1 {
        @include header-text();
      }
      p {
        font-size: 21px;
        line-height: 35px;
        @include p-text;
      }
    }

    .navbar {
      @include navbar();
      opacity: 1;
      transition: all 1s ease-out;
      position:fixed;
      right: 0;

      &.fade-out{
        opacity: 0;
      }

      @include col();
      @include size(2.5);
      @include size-xs(4);
      @include size-xxs(4.5);
    }
  }



  #slider-container {
    //margin-bottom: 10%;
    //overflow: hidden;
    //position: relative;
    //@include size(12.5);




    //.content{
    //  -webkit-transform: translate3d(0, calc(+100% - 16px), 0);
    //  transform: translate3d(0, calc(+100% - 16px), 0);
    //  top:30%;
    //  width:80%;
    //  bottom: 0;}
    //
    ///*
    //*
    //* opened
    //*
    //*
    //*/
    //
    //content.opened {
    //  -webkit-transform: translate3d(0, 0, 0);
    //  transform: translate3d(0, 0, 0);
    //}

    .owl-carousel{

      .animated  {
        -webkit-animation-duration : 10000 ms  ;
        animation-duration : 10000 ms  ;
        -webkit-animation-fill-mode : both  ;
        animation-fill-mode : both  ;
      }  
      /* .owl-animated-out - only for current item */ 
      /* This is very important class. Use z-index if you want move Out item above In item */ 
      .owl-animated-out {
        z-index : 0;
        // opacity: 1;
        // transform: scale(1) translateX(1%);
      }
      /* .owl-animated-in - only for upcoming item
      /* This is very important class. Use z-index if you want move In item above Out item */ 
      .owl-animated-in {
        z-index : 1;
        // opacity: 1;
        // transform: scale(1.2);
        // transform: scale(1.1);

      }
      /* .fadeOut is style taken from Animation.css and this is how it looks in owl.carousel.css:  */ 
      // .fade  {
      //   -webkit-animation-name : fade  ;
      //   animation-name : fade  ;
      // }  

      .fadeNext  {
        // opacity: 0;
        -webkit-animation-name : fadeNext  ;
        animation-name : fadeNext  ;
      } 
      .fadePrev  {
        // opacity: 0;
        -webkit-animation-name : fadePrev  ;
        animation-name : fadePrev  ;
      } 

      .bringOut  {
         opacity: 1;
         left:0;
        //  -webkit-animation-name : bring  ;
        //  animation-name : bring  ;
        
      } 
      .bringIn  {
        opacity: 1;
        // left:0;
        // -webkit-animation-name : bring  ;
        // animation-name : bring  ;
       
      } 

      @-webkit-keyframes bring {
        0% {
          opacity : 1;        
        }   
        100% {
          opacity : 1 ;
        }  
      }
      @keyframes bring {
        0% {
          opacity : 1;        
        }   
        100% {
          opacity : 1;
        }  
      }
      

      @-webkit-keyframes fadeNext {
        0% {
          opacity : 1;        
          -webkit-box-shadow:none;
          -moz-box-shadow:none;
          box-shadow: none;
          transform: scale(1) translateX(100%);
        }  
        20% {
          opacity : 1;        
          -webkit-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
          transform: scale(1.1) translateX(101%);
        } 
        60% {
          opacity : 1;        
          -webkit-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
          transform: scale(1.01) translateX(2%);
        }
        90%{
          -webkit-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
          transform: scale(1) translateX(1%)       
        }  
        100% {
          opacity : 1   ;
          -webkit-box-shadow:none;
          -moz-box-shadow:none;
          box-shadow: none;
          transform: scale(1) translateX(10px);
        }  
      }

      @keyframes fadeNext  {
        0% {
          opacity : 1;        
          // -webkit-box-shadow:none;
          -moz-box-shadow:none;
          box-shadow: none;
          transform: scale(1) translateX(100%);
        }  
        20% {
          opacity : 1;        
          // -webkit-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
          transform: scale(1.1) translateX(101%);
        } 
        60% {
          opacity : 1;        
          // -webkit-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
          transform: scale(1.01) translateX(2%);
        }
        90%{
          // -webkit-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
          transform: scale(1) translateX(1%)       
        }  
        100% {
          opacity : 1   ;
          // -webkit-box-shadow:none;
          -moz-box-shadow:none;
          box-shadow: none;
          transform: scale(1) translateX(10px);
        }  
      }
      @-webkit-keyframes fadePrev {
        0% {
          opacity : 1;        
          -webkit-box-shadow:none;
          -moz-box-shadow:none;
          box-shadow: none;
          transform: scale(1) translateX(10px);
        }  
        10% {
          opacity : 1;        
          -webkit-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);

          // transform: scale(1) translateX(8px);
        } 
        40% {
          opacity : 1;        
          -webkit-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
          transform: scale(1.01) translateX(5px);
        }
        80%{
          -webkit-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
          transform: scale(1.1) translateX(calc(110% + 25px));       
        }  
        90%{
          -webkit-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
          transform: scale(1) translateX(calc(100% + 25px))       
        }
        100% {
          opacity : 1   ;
          -webkit-box-shadow:none;
          -moz-box-shadow:none;
          box-shadow: none;
          transform: scale(1) translateX(calc(100% + 25px));
        }  
      }

      @keyframes fadePrev  {
        0% {
          opacity : 1;        
          // -webkit-box-shadow:none;
          -moz-box-shadow:none;
          box-shadow: none;
          transform: scale(1) translateX(10px);
        }  
        10% {
          opacity : 1;        
          // -webkit-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
          // transform: scale(1) translateX(5px);
        } 
        40% {
          opacity : 1;        
          // -webkit-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
          transform: scale(1.01) translateX(8px);
        }
        80%{
          // -webkit-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);

          -moz-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
          transform: scale(1.1) translateX(calc(110% + 25px));       
        }  
        90%{
          // -webkit-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);

          -moz-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
          transform: scale(1) translateX(calc(100% + 25px))       
        }  
        100% {
          opacity : 1   ;
          // -webkit-box-shadow:none;
          -moz-box-shadow:none;
          box-shadow: none;
          transform: scale(1) translateX(calc(100% + 25px));
        }  
      }


      .owl-dots{
        visibility: hidden;
        display: none;
      }
      .owl-nav{
        @include row-flex();
        justify-content: space-between;
        div{
          background: none;
          padding: 0;
          margin: 0;
          // @include col();
          // @include size(2.6);
          // @include size-md(3);
          // @include size-xs(5);
          position: relative;
          font-size: 25px;
          line-height: 31px;
          font-weight: 300;
          color: #363636;
          padding-left: 15%;
          cursor: pointer;
        
        &.disabled{
          visibility: hidden;
          display: none
        }
          .owl-next{
            float:right;
          }
        }

        #prev, #next {
          @include slider-botton-text;
          padding-left: 15%;
          cursor: pointer;
          &:hover{
            color: #9E9E9E;
            transition: all 0.3s ease;
          }
        }

        #prev:before, #next:before {
          background-color: #363636;
          content: "";
          border-radius: 50%;
          width: 4px;
          height: 4px;
          display: inline-block;
          position: absolute;
          left: 0;
          top: 15%;
        }

        #prev:hover:before , #next:hover:before {
          background-color: #9E9E9E;
          transition: all 0.3s ease;
        }
      }


      .owl-item{
        transform: translateX(10px);


        
      }
      .owl-stage{
        // transition: all 1s ease-in;
      }

      .owl-stage-outer{
        // overflow:visible;
        padding: 50px 0;
      }

      .image-slide img  {
        width:100%;
        vertical-align:top;
      }
      .image-slide:after {
        position:absolute;
        opacity:0;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
      }
      .image-slide:after {
        content:'';
        width:100%;
        height:100%;
        top:0;
        left:0;
        background:rgba(0,0,0,0.4);
      }
      .image-slide:before {
        @include photo-on-text;
        @include size(5);
        @include size-xs(6.5);
        position:absolute;
        content: attr(data-content);
        color:#fff;
        z-index:1;
        bottom:0;
        padding:0 0 7% 10%;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        opacity:1;
      }
      .image-slide:hover:after, .image-slide:hover:before {
        opacity:1;
      }
    }
    // .slider-buttons {
    //   padding-left: 8.33%;
    //   @include col;
    //   @include size(11);
    //   .buttons {
    //     @include row-flex();
    //     justify-content: space-between;
    //     .prev-rel, .prev-rel-1 {
    //       @include col();
    //       @include size(2.6);
    //       @include size-md(3);
    //       @include size-xs(5);
    //       position: relative;
    //     }

    //     // #prev, #next {
    //     //   @include slider-botton-text;
    //     //   padding-left: 15%;
    //     //   cursor: pointer;
    //     //   &:hover{
    //     //     color: #9E9E9E;
    //     //     transition: all 0.3s ease;
    //     //   }
    //     // }

    //     // #prev:before, #next:before {
    //     //   background-color: #363636;
    //     //   content: "";
    //     //   border-radius: 50%;
    //     //   width: 4px;
    //     //   height: 4px;
    //     //   display: inline-block;
    //     //   position: absolute;
    //     //   left: 0;
    //     //   top: 15%;
    //     // }

    //     // #prev:hover:before , #next:hover:before {
    //     //   background-color: #9E9E9E;
    //     //   transition: all 0.3s ease;
    //     // }
    //   }
    // }
  }


  .main-article-collections {
    .article-title {
      @include col;
      @include size(4);
      @include size-xlg(5);
      @include size-lg(5);
      @include size-md(6);
      @include size-xs(7);
      @include header-text();
      margin-bottom: 0;
      padding-left: 8.33%;
    }

    .main-article {
      padding-left: 8.33%;
      @include col;
      @include size(8.2);
      @include size-xxs(7.8);
      padding-bottom: 10%;


      .columns {
        //display: flex;
        //flex-direction: column;
        //flex-wrap: wrap;
        //align-content: space-between;
        //max-height: 60em;

        @include row-float;
        display:block;

        .column:nth-child(odd){
          float: left;
        }
        .column:nth-child(even) {
          float: right;
        }
        .column:last-child{
          float: none;
          clear:both;
        }
        //.column:nth-child(1) {
        //    order: 1;
        //}
        //.column:nth-child(2) {
        //    order: 4;
        //}
        //.column:nth-child(3) {
        //    order: 2;
        //}
        //.column:nth-child(4) {
        //    order: 5;
        //}
        //.column:nth-child(5) {
        //    order: 3;
        //}
      .column {
        @include size(5.4);
        @include size-xs(12);
        margin-bottom: 0;
        padding-top: 10%;
        padding-bottom: 5%;
        @include border-bottom-text;


        h2 {
          @include title-h2();
          position: relative;
          padding-bottom: 5%;
        }

        h2:before {
          @include pseudo-dot-h2()
        }
        p {
          @include p-text;
        }
      }
      }
    }
  }
}
//@media screen and (max-width: 992px) {
//  .wrapper {
//    .main-article-collections {
//      .main-article {
//        .columns {
//          max-height: 102rem;
//
//        }
//      }
//    }
//  }
//}
//
//@media screen and (max-width: 768px) {
//  .wrapper {
//    .main-article-collections {
//      .main-article {
//        .columns {
//          max-height: 100rem;
//
//        }
//      }
//    }
//  }
//}
@media screen and (max-width: 480px) {
  // .main-page .header .logo .logo-part-1 {
    // left:auto;
    // right: 1px;
  // }
  // .main-page .header .logo .logo-animate {
    // left:auto;
    // right: 1px;
  // }
  //  .wrapper {
//    .main-article-collections {
//      .main-article {
//        .columns {
//          max-height: 170rem;
//
//          .column:nth-child(even) {
//            //float: left;
//          }
//        }
//      }
//    }
//  }
}
//@media screen and (max-width: 320px) {
//  .wrapper {
//    .main-article-collections {
//      .main-article {
//        .columns {
//          max-height: 200rem;
//
//        }
//      }
//    }
//  }
//}
