.portfolio {
  .portfolio-collections {
    @include shift-left(0.9);
    .row {
      @include row-flex;
      justify-content: space-between;

      .portfolio-main {
        @include col;
        @include size(7.9);
        @include size-xs(6.8);

        //TEXT

        .portfolio-heder-text {
          @include size(7);
          @include size-lg(8);
          @include size-md(9);
          @include size-sm(10);
          @include size-xs(12);

          h1 {
            @include header-text;

          }
          p {
            @include p-text;

          }
        }

        //PHOTO
        .portfolio-items {
          padding-bottom: 10%;
          position: relative;

          a {
            display: block;
            margin-top: 5%;

            .item {
              position: relative;
              cursor: pointer;

            }

            .item img {
              width: 100%;
              vertical-align: top;
            }
            .item:after {
              position: absolute;
              opacity: 0;
              transition: all 0.3s;
              -webkit-transition: all 0.3s;
              content: '';
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              background: rgba(0, 0, 0, 0.4);
            }

            .item:before {
              @include photo-on-text;
              @include size(7);
              @include size-xs(8);
              @include size-xxs(10);
              position: absolute;

              content: attr(data-content);
              color: #fff;
              z-index: 1;
              bottom: 0;
              padding: 0 0 7% 10%;
              box-sizing: border-box;
              -moz-box-sizing: border-box;
              opacity: 1;
            }
            .item:hover:after, .image-slide:hover:before {
              opacity: 1;

            }
          }
        }
      }

      //TODO: NAVBAR

      .navbar {
        @include col;
        @include size(2.5);
        @include size-xs(3.5);
        @include size-xxs(4.2);
        opacity: 1;
        transition: all 1s ease-out;
        position: fixed;
        right: 0;

        &.fade-out {
          opacity: 0;
        }
        .navigation {
          @include navbar();
        }
        .nav-active {
          @include nav-active()

        }
        .en-link {
          @include nav-en-link();
        }
        #navbartitle {
          margin-bottom: 60%;

        }
        #navbar {
          padding-bottom: 60%;
          display: none;
        }

        #pagination {
          @include nav-next-prev;

          .counter {
            display: block;
            font-weight: bold;

          }

          .next-page, .prev-page {
            position: relative;
            padding-top: 10%;
            display: block;
            font-weight: 300;
            &:before {
              position: absolute;
              left: -13%;
              top: 45%;
              background-color: #363636;
              content: "";
              border-radius: 80%;
              width: 4px;
              height: 4px;
              display: inline-block;
              @include to($max_width:480px) {
                left: -15%;
                top: 36%;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .portfolio {
    .portfolio-collections {
      .portfolio-main {
        .portfolio-items {
          .item {
            h3 {
              font-size: 14px;

            }
          }
        }
      }
    }
  }
}
