.project-blog {

    .main-block-size {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;

      .poroject-header-text {

        padding-left: 8.33%;
        @include col;
        @include size(6);
        @include size-xxlg(6.5);
        @include size-md(7);
        @include size-xs(8);
        @include size-xxs(7);

        h1 {
          @include header-text;
        }
        p {
          @include p-text;
        }
      }

      .navbar {
        @include navbar();
        opacity: 1;
        transition: all 1s ease-out;
        position:fixed;
        right: 0;
        @include col();
        @include size(2.35);
        @include size-xs(4);
        @include size-xxs(4.5);
        &.fade-out{
          opacity: 0;
        }
        .navigation {
          @include navbar();
        }
        #navbar {
          padding-bottom: 60%;
        }

        #back {
          @include nav-next-prev;
          .back {
            position: relative;
            display: block;
            font-weight: 300;
            margin-left: 7%;

          }
          .back:before {
            position: absolute;
            top: 40%;
            left: -7.5%;
            background-color: #363636;
            content: "";
            border-radius: 80%;
            width: 4px;
            height: 4px;
            display: inline-block;

          }
        }
      }


      //TODO: PROJECT-MAIN-CONTENET

      .project-main-content {
        padding-left: 8.33%;
        @include col;
        @include size(9);
        @include size-xs(8);
        @include size-xxs(7);
        .project-text {
          padding: 10% 0;

          .item-task {

            h2 {
              position: relative;
              @include title-h2;
              padding-bottom: 2%;

            }
            h2:before {
              @include pseudo-dot-h2();
              top: -6%;
              left: -2%;
            }
            p {
              @include p-text;
            }
          }
        }

        .item-decision {
          padding-top: 10%;
          h2 {
            position: relative;
            @include title-h2;
            padding-bottom: 2%;

          }
          h2:before {
            @include pseudo-dot-h2();
            top: -6%;
            left: -2%;

          }

          p {
            @include p-text;

          }
        }

        .project-photo {
          padding: 10% 0 0;
          .item-img {
            padding-top: 3%;
          }
        }

        .project-photo-2 {
          @include row-flex();
          justify-content: space-between;
          padding: 10% 0 0;
          .item-img {
            @include col();
            @include size(5.9);

          }

        }

        .project-mini-photo {
          @include row-flex;
          justify-content: flex-start;
          padding: 10% 0 10%;

          .item-img {
            padding-bottom: 2%;

            @include col();
            @include size(3);
            @include size-xs(12);

          }
        }

        .project-description {
          padding: 10% 0 5%;
          @include row-flex;
          justify-content: space-between;

          .items {
            @include col;
            @include size(5);
            @include size-xs(12);
            .item {
              padding-bottom: 15%;
              .item-id {
                  @include text-prof;

              }
              .item-name {
                @include title-h2;

              }
              button {
                @include button();
              }
            }
          }
        }

        .project-team-feedback {
          padding: 10% 0 5%;

          h2 {
            position: relative;
            @include title-h2;
            padding-bottom: 5%;

          }
          h2:before {
            @include pseudo-dot-h2();
            top: -6%;
            left: -2%;
          }
          .feedbacks {
            @include row-flex;
            justify-content: space-between;
            .items {
              @include col;
              @include size(5);
              @include size-xs(12);
              .item {
                @include border-bottom-text;
                padding-bottom: 5%;
                margin-bottom: 15%;

                .name {
                  @include title-h2;
                  padding-bottom: 2%;
                }
                .profesion {
                  @include text-prof;
                }
                .text {
                  padding-top: 5%;
                  @include p-text;
                }
              }
            }
          }
        }

        .buttons-network {
          .items {
            @include row-flex();
            justify-content: space-between;

            .item {
              @include col();
              @include size(4);
              @include size-xs(12);
              padding: 5% 0;
              button {
                display: flex;
                justify-content: center;
                align-items: center;
                @include button();
                svg {
                  margin-right: 5px;
                  width: 1.2rem;
                  height: 1.2rem;
                }
              }
              button:hover #facebook, button:hover #linkedin, button:hover #pinterest {
                transition: ease 0.3s;
                fill: #fff;
              }
            }
          }
        }
      }
    }
  .project-main-photo {
    .photo {
      padding-left: 8.33%;
      @include col();
      @include size(11);
      margin-bottom: 5%;
    }
  }
}
.block-background {
  @include background-block();

  .wrapper {
    #slider-container {
      padding: 5% 0;
      .slider {
        padding-left: 8.33%;
        @include col();
        @include size(11);
        padding-bottom: 2%;

        .image-slide {
          position: relative;
          opacity: 1;
          transition: all 1s ease;
          height: 100%;
          //img {
          //  position: absolute;
          //}
          .caption {
            position: absolute;
            top: 84%;
            left: 7.5%;
            transform: translate(7.5%, -84%);
            .slider-text {
              @include size(9);
              @include size-lg(8);
              @include photo-on-text;
            }
          }
        }
        //.active {
        //  opacity: 0;
        //
        //}
      }
      .slider-buttons {
        padding-left: 8.33%;
        @include col;
        @include size(11);

        .buttons {
          @include row-flex();
          justify-content: space-between;
          .prev-rel, .prev-rel-1 {
            @include col();
            @include size(2.6);
            @include size-md(3);
            @include size-xs(5);
            position: relative;
          }

          #prev, #next {
            @include slider-botton-text;
            padding-left: 15%;
            cursor: pointer;


          }

          #prev:before, #next:before {
            background-color: #363636;
            content: "";
            border-radius: 50%;
            width: 4px;
            height: 4px;
            display: inline-block;
            position: absolute;
            left: 0;
            top: 15%;
          }
        }
      }
    }

    #project-slider:before {
      background-color: #F9F9F9;
      content: "";
      position: absolute;
      width: 100%;
      left: 0;
      right: 0;
      padding-bottom: 75%;
      z-index: -50;
    }
  }

}




