.team-page {
  //TODO: Header
  .header {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    .team-header {
      padding-left: 8.33%;
      @include col;
      @include size(4.6);
      @include size-xxlg(6);
      @include size-md(7);
      @include size-xs(8);
      @include size-xxs(7);
      padding-bottom: 2%;
      h1 {
        @include header-text;
      }
      p {
        //@include size(4.1);
        @include p-text;
      }
    }

    //NAV

    .navbar {
      @include navbar();
      opacity: 1;
      transition: all 1s ease-out;
      position:fixed;
      right: 0;
      @include col();
      @include size(2.35);
      @include size-xs(4);
      @include size-xxs(4.5);
      &.fade-out{
        opacity: 0;
      }
      #navbar {
        .navigation {
          @include navbar();

        }
        .nav-team {
          font-weight: bold;

        }
        .nav-team:before {
          background-color: #363636;
          content: "";
          border-radius: 50%;
          width: 8px;
          height: 8px;
          display: inline-block;
          margin: 0 7% 2% 0;
        }
        .nav-team:hover:before {
          background-color: #9E9E9E;
          transition: all 0.3s ease;
        }

      }
    }
  }

  .team-photo {
    .photo {
      padding-left: 8.33%;
      @include col();
      @include size(11);
    }
  }


  .team-main {
    //TODO: Team-photo
    .team-photo-items {
      padding-left: 8.33%;
      @include col;
      @include size(8);
      @include size-xs(7);


      .items {
        @include row-flex;
        justify-content: space-between;

        .item {
          @include col;
          @include size(5.5);
          @include size-xs(12);
          position: relative;
          padding-top: 10%;
          .text-about {
            position: absolute;
            bottom: 5%;
            left: 15%;
            transform: translate(-5%, -15%);

            .text-prof {
              @include photo-text-prof;
            }
            .text-name {
             @include photo-on-text;
            }
          }
        }
      }
    }

    //TODO: Article
    .team-text-inform {
      @include col;
      @include size(5);
      @include size-xxlg(5);
      @include size-lg(6);
      @include size-sm(7);
      @include size-xs(8);

      padding-left: 8.33%;
      padding-top: 10%;
      .text-inform {
        h1 {
          @include header-text;

        }
        p {
          @include p-text;

        }
      }
    }

    .team-article {
      padding-left: 8.33%;
      @include col;
      @include size(8);
      @include size-xs(7);

      .items {
        @include row-flex;
        justify-content: space-between;
        padding-bottom: 10%;
        .item {
          @include col;
          @include size(5.5);
          @include size-xs(12);
          padding-top: 10%;
          padding-bottom: 2%;
          @include border-bottom-text;
          height: auto;

          h2 {
            position: relative;
            @include title-h2;

            padding-bottom: 5%;
          }
          h2:before {

            @include pseudo-dot-h2;

          }
          p {
           @include p-text;
          }
        }

        //TODO: Button
        .team-button {
          @include col;
          @include size(5.5);
          @include size-xs(12);



          padding-top: 10%;
          .button {
            @include button();
            display: inline-block;
            padding: 5% 2% 4.5%;
            text-align: center;
          }
        }
      }
    }
  }
}
