.team-page {

  .header {
    @include shift-left(0.9);
    padding-bottom: 2%;
    .row {
      @include row-flex();
      justify-content: space-between;

      .text-header {
        @include col();
        @include size(5);
        @include size-xs(7);

        h1 {
          @include header-text;
        }
        p {
          @include p-text;
        }
      }

      .navbar {
        @include col;
        @include size(2.5);
        @include size-xs(3.5);
        @include size-xxs(4.2);
        opacity: 1;
        transition: all 1s ease-out;
        position: fixed;
        right: 0;
        z-index: 100;

        &.fade-out {
          opacity: 0;
        }
        .navigation {
          @include navbar();
        }
        .nav-active {
          @include nav-active()

        }
        .en-link {
          @include nav-en-link();
        }
        #navbar {
          display: none;
        }
      }
    }
  }

  .team-photo {
    @include shift-left(0.9);
    @include size(10.2);
    margin-bottom: 8vh;
    @include to($max-width: 768px) {
      margin-bottom: 8vh;
    }
    @include to($max-width: 480px) {
      margin-bottom: 5vh;
    }
  }

  //TODO: Team-photo
  .team-photo-items {
    @include size(7.4);
    @include size-xs(6.4);
    @include shift-left(0.9);
    .row:nth-child(odd), .row:nth-child(even) {
      margin-bottom: 0;
    }
    .row {
      @include row-flex;
      justify-content: space-between;

      .col {
        @include col();
        @include size(5.5);
        @include size-xs(12);
        position: relative;
        margin-bottom: 8vh;

        @include to($max-width: 768px) {
          margin-bottom: 6vh;
        }
        @include to($max-width: 480px) {
          margin-bottom: 5vh;
        }

        .text-about {
          position: absolute;
          bottom: 5%;
          left: 15%;
          transform: translate(-5%, -15%);

          .text-prof {
            @include photo-text-prof;
          }
          .text-name {
            @include photo-on-text;
          }
        }
      }
    }
  }

  //TODO: Article
  .team-text-inform {
    @include size(3);
    @include size-xxlg(4);
    @include size-xlg(4.5);
    @include size-lg(5);
    @include size-sm(6);
    @include size-xs(7);
    @include shift-left(0.9);
    margin-bottom: 5%;
    margin-top: 5%;

    .text-inform {
      h1 {
        @include header-text;
      }
      p {
        @include p-text;
      }
    }
  }

  .team-article {
    @include shift-left(0.9);
    @include size(7.4);
    @include size-xs(6.4);
    margin-bottom: 10%;

    .row {
      @include row-flex;
      justify-content: space-between;

      .col {
        @include col();
        @include size(5.5);
        @include size-xs(12);
        @include border-bottom-text;

        margin-bottom: 8vh;
        @include to($max-width: 768px) {
          margin-bottom: 6vh;
        }
        @include to($max-width: 480px) {
          margin-bottom: 5vh;
        }

        display: flex;
        flex-direction: column;

        h2 {
          position: relative;
          @include title-h2;

          padding-bottom: 5%;
        }
        h2:before {
          @include pseudo-dot-h2;
        }
        p {
          @include p-text;
          margin-top: auto;
          padding-bottom: 3%;
        }
      }
      //TODO: Button
      .team-button {
        @include col();
        @include size(5.5);
        @include size-xs(12);
        //padding-top: 10%;

        .button {
          @include button();
          display: inline-block;
          text-align: center;
        }
      }
    }
  }
}
